<div class="todo-app">
  <app-input-button-unit (submit)="addItem($event)"></app-input-button-unit>
  <p>
    <button (click)="toggleHideCompleted()" class="btn" [textContent]="hideCompleted ? 'Show all' : 'Hide completed'"></button>
  </p>
  <ul>
    <li *ngFor="let todoItem of todoList | completed: hideCompleted">
      <app-todo-item [item]="todoItem"
                     (remove)="removeItem($event)"
                     (update)="updateItem($event)"
      ></app-todo-item>
    </li>
  </ul>
</div>
